<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/contacto.css">
    <title>PSICOLOGÍA|ESTRELLA</title>
    <link rel="icon" type="image/png" href="./favicon.png">
</head>

<body>



    <div class="contenedor-principal">
        <header>
            <a class="chat" href="https://api.whatsapp.com/send?phone=34635672786">
                <span class="contacto">Contacto: </span> +34 635672786 | </a>
            <a class="email" href="https://workspace.google.com/intl/es/gmail/"> estrellabeneroso@gmail.com </a>


        </header>
        <nav>
            <a href="./views/contacto.html"> <img src="../assets/images/LOGO.png" width="100" height="100"
                    alt="Logo con mariposa rosa y purpura"></a>

            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../views/presupuesto.html">Presupuesto</a></li>
                <li><a href="../views/galeria.html">Galeria</a></li>
                <li><a href="#" id="contacto"><mark class="marcado">Pedir cita</mark></a></li>

            </ul>

        </nav>
        <!--MAIN-->
        <main>
            <div class="reservar-cita">
                <h1 class="cita">Reserva tu cita</h1>
                <span class="subrayado"></span>
                <p class="text-reservar">¿Cómo reservar tu cita?</p>
                <h2 class="pasos">Pasos para reservar tu cita</h2>
                <div class="datos-empresa">
                    <ol class="lista-cita">
                        <li> ¡Recuerda que si es tu primera reserva recibirás un correo
                            electrónico para modificar
                            datos y todo lo que necesites! </li>
                        <li> Si eliges una <a href="./presupuesto.html">terapia</a>, reservarás tu primera cita cuando
                            te venga mejor y las demás serán
                            según acuerdes con tu profesional </li>

                    </ol>

                </div>
            </div>
            <div class="contenedor-mapa">
                <div id="mapa"></div>
                <div id="panel"></div>
            </div>
            <div class="direccion">
                <p class="encantados">¡Estaré encantada de atenderte ya sea para dudas o para reservar cita!</p>
                <ul>
                    <li>Correo electronico: <span class="correo">estrellabeneroso@gmail.com</span></li>
                    <li>Teléfono de contacto <span class="correo"> Whatsapp</span> (L-V de 9:00-20:00): +34 635 67 27 86</li>
                    <li>Chat 24 horas: haz click en el icono de Whatsapp que aparece en pantalla</li>
                </ul>

            </div>

        </main>


        <!--FOOTER-->

        <footer>

            <div class="footer-text">
                <div class="footer-empresa">
                    <p>Psicología Estrella |<a href="./views/contacto.html" class="footer-direccion"> Calle Massenet 6,
                            29011 Málaga,España</a> </p>
                </div>

                <div class="footer-legal">
                    <a href="https://www.aepd.es/politica-de-privacidad-y-aviso-legal" class="aviso-legal">Aviso
                        Legal</a>
                </div>
            </div>



            <div class="footer-icons">
                <a href="https://www.facebook.com/?locale=es_ES" target="_blank"><img
                        src="../assets/images/facebook.svg" alt="Facebook" width="30" height="30"></a>

                <a href="https://es.linkedin.com/?mcid=6968657504633266178&src=go-pa&trk=sem-ga_campid.18146679037_asid.140850334975_crid.694860685343_kw.linkedin_d.c_tid.kwd-148086543_n.g_mt.e_geo.9216502&cid=&gad_source=1&gad_campaignid=18146679037&gbraid=0AAAAAojDCNTjXFDWOkwhlakJ9Bjc2Jz-f&gclid=CjwKCAjwuIbBBhBvEiwAsNypvdPIJpZUo9GDbScF1e9tcdix1T1LxWEOzpyJX5btAWCPThKhwJfAURoC96UQAvD_BwE&gclsrc=aw.ds"
                    target="_blank"><img src="../assets/images/linkedin.svg" alt="linkedin" width="30" height="30"></a>

                <a href="https://www.instagram.com/estrella_psicologia/" target="_blank"><img
                        src="../assets/images/instagram.svg" alt="instagram" width="30" height="30"></a>

                <a href="https://x.com/?lang=es" target="_blank"><img src="../assets/images/icons8-x.svg "
                        alt="X antiguo twitter" width="30" height="30"></a>
            </div>


        </footer>
    </div>




    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=""&callback=initMap">
        </script>


    <script src="../Js/contacto.js"></script>




</body>



</html>
