<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Materialize Framework-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="stylesheet" href="../css/galeria.css">
    <title>PSICOLOGÍA|ESTRELLA</title>

</head>

<body>
    <!--CONTENEDOR PRINCIPAL-->
    <div class="contenedor-principal">

        <!--HEADER-->
        <header>

            <a class="chat" href="https://api.whatsapp.com/send?phone=34635672786"><span
                    class="contacto">Contacto:</span>
                +34 635672786 | </a>
            <a class="email" href="https://workspace.google.com/intl/es/gmail/"> estrellabeneroso@gmail.com </a>


        </header>

        <!--NAV-->
        <nav>
            <a href="./views/contacto.html"> <img src="../assets/images/LOGO.png"  width="100" height="100" alt="un logo de una mariposa con las alas en color
         rosa y purpura con el nombre de la we rodenadola."></a>
            <ul>
                <li><a href="../index.html" id="inicio">Inicio</a></li>
                <li><a href="../views/presupuesto.html">Presupuesto</a></li>
                <li><a href="#"><mark class="marcado">Galeria </mark></a></li>
                <li><a href="contacto.html">Pedir cita</a></li>
            </ul>

        </nav>



        <main>

            <!--GALERIA CAROUSEL-->
            <div class="container">
                <div class="row">
                    <div class="col s12 ">
                        <h1 class="comportamiento">COMPORTAMIENTOS HUMANOS</h1>


                        <div class="carousel ">
                            <div class="carousel-item">
                                <!-- <h2 class="subtitulo"></h2> -->
                                <div class="lnea-division"></div>
                                <p class="nombre">Abrazar</p>
                                <img src="../assets/imagesGallery/ABRAZOS.jpg" alt="dos personas abranzandose">

                            </div>

                            <div class="carousel-item">
                                <!-- <h2 class="subtitulo"></h2> -->
                                <div class="lnea-division"></div>
                                <p class="nombre">Asertividad</p>
                                <img src="../assets/imagesGallery/ASERTIVIDAD.jpg" alt="tres personas manisfestandose">

                            </div>

                            <div class="carousel-item">
                                <!-- <h2 class="subtitulo"></h2> -->
                                <div class="lnea-division"></div>
                                <p class="nombre">Confianza en sí mismo</p>
                                <img src="../assets/imagesGallery/CONFIANZA EN SI MISMO.jpg"
                                    alt="tres personas conversando">

                            </div>
                            <div class="carousel-item">
                                <!-- <h2 class="subtitulo"></h2> -->
                                <div class="lnea-division"></div>
                                <p class="nombre">Fobia social</p>
                                <img src="../assets/imagesGallery/FOBIA%20SOCIAL.jpg"
                                    alt="una chica encerrada en una caja de carton">

                            </div>
                            <div class="carousel-item">
                                <!-- <h2 class="subtitulo"></h2> -->
                                <div class="lnea-division"></div>
                                <p class="nombre">Inteligencia emocional</p>
                                <img src="../assets/imagesGallery/INTELIGENCIA%20EMOCIONAL.jpg"
                                    alt="un hombre concentrado ">

                            </div>
                        </div>



                    </div>

                </div>
                <!--GALERIA LIGHTBOX-->
                <h2 class="estados">ESTADOS EMOCIONALES</h2>

                <div class="lightbox">


                    <img class="materialboxed responsive-img" width="350"
                        src="../assets/imagesGallery/ANSIEDAD.jpg" data-caption="ANSIEDAD" alt="Imagen de ansiedad">


                    <img class="materialboxed responsive-img" width="350"
                        src="../assets/imagesGallery/EUFORIA.jpg" data-caption="EUFORIA" alt="Imagen de euforia">


                    <img class="materialboxed responsive-img" width="350" src="../assets/imagesGallery/IRA.jpg"
                        data-caption="IRA" alt="Imagen de ira">
                </div>
            </div>
        </main>


        <!--FOOTER-->

        <footer>

            <div class="footer-text">
                <div class="footer-empresa">
                    <p>Psicología Estrella |<a href="./views/contacto.html" class="footer-direccion"> Calle Massenet 6,
                            29011 Málaga,España</a> </p>
                </div>

                <div class="footer-legal">
                    <a href="https://www.aepd.es/politica-de-privacidad-y-aviso-legal" class="aviso-legal">Aviso
                        Legal</a>
                </div>
            </div>



            <div class="footer-icons">
                <a href="https://www.facebook.com/?locale=es_ES" target="_blank"><img
                        src="../assets/images/facebook.svg" alt="Facebook" width="30" height="30"></a>

                <a href="https://es.linkedin.com/?mcid=6968657504633266178&src=go-pa&trk=sem-ga_campid.18146679037_asid.140850334975_crid.694860685343_kw.linkedin_d.c_tid.kwd-148086543_n.g_mt.e_geo.9216502&cid=&gad_source=1&gad_campaignid=18146679037&gbraid=0AAAAAojDCNTjXFDWOkwhlakJ9Bjc2Jz-f&gclid=CjwKCAjwuIbBBhBvEiwAsNypvdPIJpZUo9GDbScF1e9tcdix1T1LxWEOzpyJX5btAWCPThKhwJfAURoC96UQAvD_BwE&gclsrc=aw.ds"
                    target="_blank"><img src="../assets/images/linkedin.svg" alt="linkedin" width="30" height="30"></a>

                <a href="https://www.instagram.com/estrella_psicologia/" target="_blank"><img
                        src="../assets/images/instagram.svg" alt="instagram" width="30" height="30"></a>

                <a href="https://x.com/?lang=es" target="_blank"><img src="../assets/images/icons8-x.svg "
                        alt="X antiguo twitter" width="30" height="30"></a>
            </div>


        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../Js/galeria.js"></script>


</body>

</html>